/* H5BP styles. */
@import "../vendor/h5bp/css/style.css";

/* Add Stylus stylesheets here, alll files ending in .styl will be compiled!
 * For example: @import "main.styl";
 *
 * Note: All stylesheets are relative to `assets/css`.
 *
 */ 

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing : border-box;
}

input[type="button"]::-moz-focus-inner { 
    border: 0;
} 

.centered-image {
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

body {
    background-image: url('../images/dashboard-tile.png');
}

#edit-container {
    background-image: url('../images/brushed-metal-tile.png');
    position: absolute;
    top: 100px;
    left: 100px;
    width: 216px;
    height: 458px;
    padding: 15px 18px 10px 18px;
    font-family: "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif; font-weight:400; font-stretch:normal;

    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;

    -webkit-box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:    1px 5px 5px rgba(0, 0, 0, 0.3);
    box-shadow:         1px 5px 5px rgba(0, 0, 0, 0.3);
}

#symbol-input, #add {
    font-size: 12px;
    line-height: 17px;
    height: 19px;
    padding: 0;
    margin: 0;
}

#symbol-input {
    padding: 0 3px; 
    width: 154px;
    border: 1px solid #b7b7b7;
    font-size: 12px;
}

#add {
    background: #93bee4; /* Old browsers */
    background: -moz-linear-gradient(top,  #93bee4 0%, #71a5db 43%, #598fc8 50%, #6ea4e0 63%, #96ccf1 89%, #d3f5ff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#93bee4), color-stop(43%,#71a5db), color-stop(50%,#598fc8), color-stop(63%,#6ea4e0), color-stop(89%,#96ccf1), color-stop(100%,#d3f5ff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #93bee4 0%,#71a5db 43%,#598fc8 50%,#6ea4e0 63%,#96ccf1 89%,#d3f5ff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #93bee4 0%,#71a5db 43%,#598fc8 50%,#6ea4e0 63%,#96ccf1 89%,#d3f5ff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #93bee4 0%,#71a5db 43%,#598fc8 50%,#6ea4e0 63%,#96ccf1 89%,#d3f5ff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #93bee4 0%,#71a5db 43%,#598fc8 50%,#6ea4e0 63%,#96ccf1 89%,#d3f5ff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93bee4', endColorstr='#d3f5ff',GradientType=0 ); /* IE6-9 */
    
    border: 1px solid #737e8f;
    width: 21px;
    font-weight: bold;
}

#stocks-header {
    font-size: 10px;
    font-weight: normal;
    color: #ffffff;
    margin: 0;
    padding: 5px 0;
}

#stocks {
    background-image: url('../images/alternating-tile.png');
    border: 1px solid #666;
    list-style: none;
    height: 315px;
    margin: 0;
    padding: 0;
    font-size: 11px;
    line-height: 17px;
    text-overflow: ellipsis;
    white-space: no-wrap;
    overflow: hidden;
}

/* Doing both alternating li colors and
 * a background image tile b/c image
 * doesn't scale (zoom) well in relation to
 * line-height of li items.
 */
#stocks li:nth-child(odd) {
    background-color: #edf3ff;
}

#stocks li:nth-child(even) {
    background-color: #ffffff;
}

#stocks li.selected {
    background-color: #3873d1;
}

#stocks li.selected span {
    color: #fff;
}

#stocks .symbol {
    color: #0c0c0c;
    font-weight: bold;
    display: inline-block;
    padding-left: 4px;
    width: 55px;
}

#stocks .name {
    color: #82858d;
}

#yahoo {
    padding: 10px 0px 20px 0px;
}

.edit-buttons {
    width: 67px;
    height: 24px;
    font-size: 12px;
    color: #ffffff;
    border: 1px solid #222;

    background: -moz-linear-gradient(top,  rgba(255,255,255,0.6) 0%, rgba(255,255,255,0.25) 10%, rgba(255,255,255,0.1) 23%, rgba(255,255,255,0) 29%, rgba(255,255,255,0.08) 32%, rgba(0,0,0,0.1) 33%, rgba(0,0,0,0) 46%, rgba(0,0,0,0) 90%, rgba(0,0,0,0.6) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.6)), color-stop(10%,rgba(255,255,255,0.25)), color-stop(23%,rgba(255,255,255,0.1)), color-stop(29%,rgba(255,255,255,0)), color-stop(32%,rgba(255,255,255,0.08)), color-stop(33%,rgba(0,0,0,0.1)), color-stop(46%,rgba(0,0,0,0)), color-stop(90%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.6))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.25) 10%,rgba(255,255,255,0.1) 23%,rgba(255,255,255,0) 29%,rgba(255,255,255,0.08) 32%,rgba(0,0,0,0.1) 33%,rgba(0,0,0,0) 46%,rgba(0,0,0,0) 90%,rgba(0,0,0,0.6) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.25) 10%,rgba(255,255,255,0.1) 23%,rgba(255,255,255,0) 29%,rgba(255,255,255,0.08) 32%,rgba(0,0,0,0.1) 33%,rgba(0,0,0,0) 46%,rgba(0,0,0,0) 90%,rgba(0,0,0,0.6) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.25) 10%,rgba(255,255,255,0.1) 23%,rgba(255,255,255,0) 29%,rgba(255,255,255,0.08) 32%,rgba(0,0,0,0.1) 33%,rgba(0,0,0,0) 46%,rgba(0,0,0,0) 90%,rgba(0,0,0,0.6) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.25) 10%,rgba(255,255,255,0.1) 23%,rgba(255,255,255,0) 29%,rgba(255,255,255,0.08) 32%,rgba(0,0,0,0.1) 33%,rgba(0,0,0,0) 46%,rgba(0,0,0,0) 90%,rgba(0,0,0,0.6) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99ffffff', endColorstr='#99000000',GradientType=0 ); /* IE6-9 */

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#remove {
    float: left;
}

#done {
    float: right;
}

/* Put development-only CSS below this line. */
